html
    head 
        title Test 
    body 
        p Hello 
        h1 Testing 
        p Hello 
            b Test 
            b Hi 
            b
            h1(style='color:red; text-align:center;') PUG example
              | HELLO 